.c1 {
    background-color: rgb(87, 135, 173);
    color: #FFF;
}

.c2 {
    color: #FFF;
    background-color: rgb(223, 191, 95);
}

.c3 {
    color: #FFF;
    background-color: rgb(101, 153, 98);
}

.c4 {
    color: #FFF;
    background-color: rgb(156, 72, 158);
}
