.c1 {
    color: #FFF;
    background-color: rgb(194, 19, 235);
}

.c2 {
    color: #FFF;
    background-color: rgb(31, 140, 131);
}

.c3 {
    color: #FFF;
    background-color: rgb(40, 84, 115);
}

.c4 {
    color: #FFF;
    background-color: rgb(189, 165, 62);
}
.c5 {
    color: #FFF;
    background-color: rgb(40, 84, 115);
}
